// FONT-FACE GENERATOR MIXINS.
// @include font-family(NAME SOURCE STYLE STRETCH WEIGHT);

// Name is the font-family name. Source is the font file name without extension.
// You must to have 4 file type (eot, svg, ttf, woff).
// We do automaticaly add font-face standard.
// Style, stretch and weight is optional.

// @include font-family('Arial' 'assets/font/arial');
@mixin font-family($font: 'Arial' 'font/arial' 400 normal normal) {
	$name		: nth($font, 1);
	$src		: nth($font, 2);
	$style		: normal;
	$weight		: 400;
	$stretch	: normal;
	
	@if length($font) == 3 {
		$style		: nth($font, 4);
	}
	@if length($font) == 4 {
		$stretch	: nth($font, 5);
	}
	@if length($font) == 5 {
		$weight		: nth($font, 3);
	}
	
    @font-face {
        font-family		: "#{$name}";
        src				: local("#{$name}");
        src				: url("#{$src}.eot");
        src				: url("#{$src}.eot#iefix") format("embedded-opentype"),
           				  url("#{$src}.svg") format("svg"),
           				  url("#{$src}.ttf") format("truetype"),
           				  url("#{$src}.woff") format("woff");             
        font-style		: $style;
        font-weight		: $weight;
        font-stretch	: $stretch;
    }
}

// COMPLEX FONT GENERATOR.
// @include font-faces(FONT-NAME SOURCE-FOLDER, STYLE);

// First thing first, you have to format your fonts file naming. This is the example.

// assets/font/Arial-Regular.ttf
// assets/font/Arial-Bold.ttf
// assets/font/Arial-Italic.ttf

// You must to add '-' between the font family and style on your file name. We use it to sparate the font-face.
// You can input your custom style like 'Bold Italic Regular Light SemiLight Thin' and we will build font-face
// with the given style. You also must to wrap font name and source folder with quotes. Also give slash '/' at the end of 
// source folder. By default we gave default style:

// 'Black Bold BoldItalic ExtraBold Light LightItalic Regular Italic Semibold SemiboldItalic';

// Example:
// @include font-faces('Arial' 'assets/font');

// That sample using default style.

// @include font-faces('Arial' 'assets/font', Bold Italic Regular Condensed Light Black);
// That sample using custom style. But ensure the fonts wich listed on style list are available on your source.
@mixin font-faces($font: 'Arial' 'assets/font/', $style: Black Bold BoldItalic ExtraBold Light LightItalic Regular Italic Semibold SemiboldItalic) {
	@for $i from 1 through length($style) {
		@include font-family('#{nth($font, 1)} #{nth($style, $i)}' '#{nth($font, 2)}#{nth($font, 1)}-#{nth($style, $i)}');
	}
}

// @group Global Mixins
// Prefix generator.
$vendor: -webkit-, -moz-, -o-, -ms-;
@mixin prefix($name, $value) {
    @for $i from 1 through length($vendor) {
        $pref: nth($vendor, $i);
        #{$pref}#{$name}: #{$value};
    }
    #{$name}: #{$value};
}


// RETINA ICON MAKER MIXINS.

// @include retina-icon(IMAGE_NAME WIDTH HEIGHT X Y, BOOLEAN);

// Input IMAGE_NAME without extension. We are using .png as icon.
// BOOLEAN is do we need create retina or not. Default is true.

// @include retina-icon(main-logo 128px 48px 0 0);				--> Icon with retina display.
// @include retina-icon(main-logo 128px 48px 0 0, false);		--> Icon without retina display.
@mixin retina-icon($value: no-pic 16px 16px 0 0, $retina: true, $origin: auto) {
	@if (length($value) >= 2) {
		$bg-img 	: nth($value, 1);
		$width 		: nth($value, 2);
		$height 	: $width;
		$x 			: 0;
		$y 			: 0;

		@if (length($value) >= 3) {
			$height : nth($value, 3);
		}
		@if (length($value) >= 4) {
			$x 		: nth($value, 4);
		}
		@if (length($value) == 5) {
			$y 		: nth($value, 5);
		}

		// Importing background size (CSS3);
		@if ($origin != auto) and (length($origin) >= 1) {
			$w: nth($origin, 1);
			$h: $w;

			@if (length($origin) == 2) {
				$h: nth($origin, 2);
			}

			@include background-size($w $h);
		} @else {
			@include background-size($width $height);
		}
		
		// Background class.
		background-position		: $x $y;
		background-image		: url(#{$bg-img}.png);
		
		// Box class.
		display	: inline-block;
		height	: $height;
		width	: $width;
		
		// Adding retina image class if needed.
		@if $retina == true {
			@include hidpi {
				background-image: url(#{$bg-img}@2x.png);
			};
		}
	}
}


// Retina sprites index.

// @include sprite-index(FILE GRID-WIDTH COL-NUMBER ROW-NUMBER, TOTAL-COL TOTAL-ROW)
@mixin icon-index($opt: "no-img" 32px 1 1, $size: 1 1) {
	$file 		: nth($opt, 1);
	$width 		: nth($opt, 2);
	$height		: nth($opt, 2);
	$cols 		: nth($opt, 3);
	$rows 		: nth($opt, 4);
	$tcol 		: nth($size, 1);
	$trow 		: nth($size, 2);

	@include retina-icon($file $width $height (-($width * $cols)) (-($height * $rows)), true, ($tcol * $width) ($trow * $width));
} 


// RETINA BACKGROUND.
// @include retina-background(SOURCE WIDTH HEIGHT X Y);
@mixin retina-background($opt: "no-pic" 10px 10px 0 0, $repeat: false) {
	@if (length($opt) >= 2) {
		$bg-img 	: nth($opt, 1);
		$bg-width 	: nth($opt, 2);
		$bg-height 	: nth($opt, 2);
		$bg-x 		: auto;
		$bg-y 		: auto;

		@if (length($opt) == 3) {
			$bg-height 	: nth($opt, 3);
		}
		@if (length($opt) == 4) {
			$bg-x 		: nth($opt, 4);
		}
		@if (length($opt) == 5) {
			$bg-y 		: nth($opt, 5);
		}

		@include background-size($bg-width $bg-height);
		background-position: $x $y;
		background-image: url(#{$bg-img}.png);

		@include hidpi {
			background-image: url(#{$bg-img}@2x.png);
		}
	}
}


// SPRITES GENERATOR.
// @include sprites(CLASS-PREFIX FILE-NAME EACH-SIZE COLUMN ROW, CLASS-SUFFIX);

// Class prefix is class name prefix. File name is the icon filename without extension.
// We use ".png" as extension. Each size is each icon size (width, height).
// Column is the total columns, row is the total rows. Class-suffix is lists of name after class prefix,
// indicating row name e.g. ".icon-facebook" for each icon. It's optional. If not defined, then
// will using column number as suffix. Generated class name will be formatted as "prefix-suffix-row-number".
// Sample class name: ".icon-facebook-1" or ".icon-1-1". If row number is only one, then row number will not attached.

// Example:
// @include sprites('icon', 'main-icon', 32px, 10, 5);

// @include sprite(icon main-icon 32px 3 1, facebook twitter instagram);
// Generated class name: ".icon-facebook", ".icon-twitter", ".icon-instagram".
@mixin sprite($opt: 'icon' 'main-icon' 16px 5 2, $suffix: none) {
	@if length($opt) == 5 {
		$pref 		: nth($opt, 1);
		$icon 		: nth($opt, 2);
		$width 		: nth($opt, 3);
		$col 	 	: nth($opt, 4);
		$row 		: nth($opt, 5);

		$gw			: ($width * $col);
		$gh			: ($width * $row);

		@for $c from 1 through $col {
			$px: -($width * ($c - 1));
			@for $r from 1 through $row {
				$py: -($width * ($r - 1));

				$suf: "";
				$num: "";

				@if length($suffix) == $col {
					$suf: -#{nth($suffix, $c)};
				}
				@if $row > 1 {
					$num: -#{$r};
				}

				.#{$pref}#{$suf}#{$num} {
					@include retina-icon($icon $width $width $px $py, true, $gw $gh);
				}
			}
		}
	}
}
@mixin sprites($name: 'icon', $src: 'nopic', $size: 32px, $col: 1, $row: 1, $suf: none) {
    .#{$name} {
        background-image: url(#{$src}.png);
        @include background-size(($size * $col) ($size * $row));
        
        display: inline-block; width: $size; height: $size;
    }
    @include hidpi {
        .#{$name} {
            background-image: url(#{$src}@2x.png);
        }
    }
    @for $i from 1 through $col {
        $colc: ($i - 1);
        $fix: col-#{$i};
        
        @if $suf != none {
            $fix: nth($suf, $i);
        }
        
        @for $x from 1 through $row {
            $rowc: ($x - 1);
            .#{$name}.#{$fix}-#{$x} {
                background-position: -($colc * $size) -($rowc * $size);
            }
            .#{$name}.circle {
                @include border-radius($size);
            }
        }
    }
}

// BORDER SHORTHAND MIXINS.
// This shorthand support with border-group and border-free.
// Border-group allow you to use '10px 20px' border size. It's mean 10px top-bottom, 20px left-right.
// Border-free allow you to setup each corner border size like '10px 4px 20px 12px' (top right bottom left);

// @include border(0 10px solid #333);
// @include border (0 10px 16px 20px solid #333);
@mixin border($borval: 0 0 solid #000) {
	@if length($borval) == 4 {
		$b-a: nth($borval, 1);
		$b-b: nth($borval, 2);
		$b-r: nth($borval, 3) nth($borval, 4);
		
		border-top		: $b-a $b-r;
		border-right	: $b-b $b-r;
		border-bottom	: $b-a $b-r;
		border-left		: $b-b $b-r;
	}
	@if length($borval) == 6 {
		$b-a: nth($borval, 1);
		$b-b: nth($borval, 2);
		$b-c: nth($borval, 3);
		$b-d: nth($borval, 4);
		$b-r: nth($borval, 5) nth($borval, 6);
		
		border-top		: $b-a $b-r;
		border-right	: $b-b $b-r;
		border-bottom	: $b-c $b-r;
		border-left		: $b-d $b-r;
	}
}


// POSITIONING SHORTHAND.

// @include position(POSITION, TOP RIGHT BOTTOM LEFT);
@mixin position($pos: relative, $opt: none none none none) {
	position 		: $pos;

	$top 			: none;
	$right 			: none;
	$bottom 		: none;
	$left 			: none;

	@if (length($opt) == 1) {
		$top 	: nth($opt, 1);
	}
	@if (length($opt) == 2) {
		$top 	: nth($opt, 1);
		$right 	: nth($opt, 2);
	}
	@if (length($opt) == 3) {
		$top 	: nth($opt, 1);
		$right 	: nth($opt, 2);
		$bottom : nth($opt, 3);
	}
	@if (length($opt) == 4) {
		$top 	: nth($opt, 1);
		$right 	: nth($opt, 2);
		$bottom : nth($opt, 3);
		$left 	: nth($opt, 4);
	}

	@if ($top != none) {
		top 	: $top;
	}
	@if ($right != none) {
		right 	: $right;
	}
	@if ($bottom != none) {
		bottom 	: $bottom;
	}
	@if ($left != none) {
		left 	: $left;
	}
}
@mixin absolutize($opt: none none none none) {
	@include position(absolute, $opt);
}
@mixin absolute($opt: none none none none) {
	@include position(absolute, $opt);
} 
@mixin fixed($opt: none none none none) {
	@include position(fixed, $opt);
} 
@mixin relative($opt: none none none none) {
	@include position(relative, $opt);
} 

// BORDER RADIUS GENERATOR.
// This is border-radius shorthand, support with group and free.

// @include corner-radius(10px);			-> Set all corner radius to 10px;
// @include corner-radius(10px 20px);		-> Set top-bottom: 10px, left-right: 20px; (TOP-BOTTOM LEFT-RIGHT)
// @include corner-radius(5px 10px 15px 20px); 		-> Set custom radius for each corner. (TOP RIGHT BOTTOM LEFT);
@mixin corner-radius($opt: auto) {
	@if (length($opt) >= 1) {
		@if (length($opt) == 1) {
			@include border-radius(nth($opt, 1));
		} @else {
			$top 		: nth($opt, 1);
			$right 		: auto;
			$bottom 	: auto;
			$left 		: auto;

			@if (length($opt == 2)) {
				$top 		: nth($opt, 1);
				$bottom 	: nth($opt, 1);
				$left 		: nth($opt, 2);
				$right 		: nth($opt, 2);
			} @else if (length($opt == 4)) {
				$top 		: nth($opt, 1);
				$right 		: nth($opt, 2);
				$bottom 	: nth($opt, 3);
				$left 		: nth($opt, 4);
			}

			@include border-radius($top $right $bottom $left);
		}
	}
}

// GRADIENT GENERATOR.
// You can generate gradient with multiple values. But, when creating multiple value, each value should be wrapped
// under round brackets "()". You can also pass single value with quoted value.

// Example:
// @include linear-gradient(90deg, red 0%, green 50% purple 50%, blue 100%);
// @include linear-gradient("90deg, red 0%, green 50% purple 50%, blue 100%");
// @include linear-gradient(
// 	(90deg, #ccc, #999),
// 	(45deg, rgba(red, 0.3),rgba(blue, 0.3))
// );
@function gen-multi-grad-val($vals, $pref, $dir) {
	$bv: "";
	$nv: "";

	@for $i from 1 through (length($vals) - 1) {
		$nv: nth($vals, $i);
		$bv: $bv + $pref + $dir + "-gradient(" + $nv + "), ";
	}
	$bv: $bv + $pref + $dir + "-gradient(" + nth($vals, length($vals)) + ")";

	@return unquote($bv);
}

// Generate Linear Gradient.

// Sample:
// @include lin-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.3) 100%);
@mixin linear-gradient($value...) {
	$I: linear;
	
	@if (length($value) == 1) {
		$value: unquote(nth($value, 1));
		background-image: -webkit-#{$I}-gradient(unquote($value));
		background-image:    -moz-#{$I}-gradient(unquote($value));
		background-image:     -ms-#{$I}-gradient(unquote($value));
		background-image:      -o-#{$I}-gradient(unquote($value));
		//background-image:         #{$I}-gradient(unquote($value));
	} @else if (length($value) > 1) {
		@if (type-of(nth($value, 1)) == "list") {
			background-image: gen-multi-grad-val($value, "-webkit-", $I);
			background-image: gen-multi-grad-val($value, "-moz-", $I);
			background-image: gen-multi-grad-val($value, "-ms-", $I);
			background-image: gen-multi-grad-val($value, "-o-", $I);
			//background-image: gen-multi-grad-val($value, "", $I);
		} @else {
			background-image: -webkit-#{$I}-gradient($value);
			background-image:    -moz-#{$I}-gradient($value);
			background-image:     -ms-#{$I}-gradient($value);
			background-image:      -o-#{$I}-gradient($value);
			//background-image:         #{$I}-gradient($value);
		}
	}
}

// Generate Radial Gradient.

// Sample:
// @include rad-gradient(center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.3) 100%);
@mixin radial-gradient($value...) {
	$I: radial;

	@if (length($value) == 1) {
		$value: unquote(nth($value, 1));
		background-image: -webkit-#{$I}-gradient(unquote($value));
		background-image:    -moz-#{$I}-gradient(unquote($value));
		background-image:     -ms-#{$I}-gradient(unquote($value));
		background-image:      -o-#{$I}-gradient(unquote($value));
		background-image:         #{$I}-gradient(unquote($value));
	} @else if (length($value) > 1) {
		@if (type-of(nth($value, 1)) == "list") {
			background-image: gen-multi-grad-val($value, "-webkit-", $I);
			background-image: gen-multi-grad-val($value, "-moz-", $I);
			background-image: gen-multi-grad-val($value, "-ms-", $I);
			background-image: gen-multi-grad-val($value, "-o-", $I);
			background-image: gen-multi-grad-val($value, "", $I);
		} @else {
			background-image: -webkit-#{$I}-gradient($value);
			background-image:    -moz-#{$I}-gradient($value);
			background-image:     -ms-#{$I}-gradient($value);
			background-image:      -o-#{$I}-gradient($value);
			background-image:         #{$I}-gradient($value);
		}
	}
}

// Sizing mixin. Perform width and height with single line css.
@mixin size($opt: 20px) {
    @if (length($opt) == 1) {
        width      : $opt;
        height     : $opt;
    } @else if (length($opt) == 2) {
        width      : nth($opt, 1);
        height     : nth($opt, 2);
    }
}

// Clearfix class and mixin.
// @include clearfix(PADDING, MARGIN);

// Padding and margin are optional. It's used when you'd like to inherit clearfix class and add padding and margin directly.

// Example:
// @include clearfix(10px 16px, 0 auto);
@mixin clearfix($pad: 0, $mar: 0) {
    *zoom: 1;
    
    &:after, &:before { content: ""; display: table; }
    &:after { clear: both; }
}

@mixin centerize($dir: all) {
	@if ($dir == all) {
		left: 50%;
		top: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	} @else if ($dir == x) {
		left: 50%;
		@include transform(translateX(-50%));
	} @else if ($dir == y) {
		top: 50%;
		@include transform(translateY(-50%));
	}
}

// GRID MAKER.
// By default, grid is based on 960px width, 12 column count and 10px gutter width.
// If you want to use custom option, then you have to include "grid-box" with custiom option
// in your grid container, and then use "grid-col" in your grid column. Otherwise, you
// can simply include "grid-box" without option in your grid container, and then include
// "grid-col" in your grid columns.

// @include grid-box(MAX-WIDTH COLUMN-COUNT GUTTER-SIZE);
// @include grid-col(COLUMN-INDEX);

// Example:
// .grid-box {
// 	@include grid-box(960 12 20);

// 	.grid-3 {
// 		@include grid-col(3);
// 	}
// }

// Default grid options.
$grid-box-width 	: 960;
$grid-box-column 	: 12;
$grid-box-gutter 	: 10;

$grid-gutter-size 	: (($grid-box-gutter / $grid-box-width) * 100%);
$grid-column-size 	: ((($grid-box-width / $grid-box-column) / $grid-box-width) * 100%);

// Grid container generator.
@mixin grid-box($opt: 960 12 20) {
	@if (length($opt) == 1) {
		$grid-box-width		: nth($opt, 1);
	} @else if (length($opt) == 2) {
		$grid-box-width		: nth($opt, 1);
		$grid-box-column	: nth($opt, 2);
	} @else if (length($opt) == 3) {
		$grid-box-width		: nth($opt, 1);
		$grid-box-column	: nth($opt, 2);
		$grid-box-gutter	: nth($opt, 3);
	}

	$grid-gutter-size 		: (($grid-box-gutter / $grid-box-width) * 100%);
	$grid-column-size 		: ((100% / $grid-box-column) - $grid-gutter-size);

	@include clearfix;
	width 					: (100% + $grid-gutter-size);
	margin-left 			: -($grid-gutter-size);

	@include mobile {
		width: 100%;
		margin-left: 0;
	}
}

// Grid column generator.
@mixin grid-col($opt: 12, $base: none) {
	@if ($base != none) {
		@if (length($base) == 1) {
			$grid-box-width		: nth($base, 1);
		} @else if (length($base) == 2) {
			$grid-box-width		: nth($base, 1);
			$grid-box-column	: nth($base, 2);
		} @else if (length($base) == 3) {
			$grid-box-width		: nth($base, 1);
			$grid-box-column	: nth($base, 2);
			$grid-box-gutter	: nth($base, 3);
		}

		$grid-gutter-size 		: (($grid-box-gutter / $grid-box-width) * 100%);
		$grid-column-size 		: (100% / $grid-box-column);
	}

	@if (length($opt) == 1) {
		$column-count 		: nth($opt, 1);
		$column-size 		: ($grid-column-size * $column-count) + ($grid-gutter-size * ($column-count - 1));

		width 				: $column-size;
		margin-left 		: $grid-gutter-size;
		float 				: left;

		@include mobile {
			width: 100%;
			float: none;
			margin-left: 0;
		}
	}
}

