@mixin animation($value...) {
	-webkit-animation: $value;
	-ms-animation: $value;
	-moz-animation: $value;
	-o-animation: $value;
	animation: $value;
}
@mixin animation-name($value...) {
	-webkit-animation-name: $value;
	-ms-animation-name: $value;
	-moz-animation-name: $value;
	-o-animation-name: $value;
	animation-name: $value;
}
@mixin animation-duration($value...) {
	-webkit-animation-duration: $value;
	-ms-animation-duration: $value;
	-moz-animation-duration: $value;
	-o-animation-duration: $value;
	animation-duration: $value;
}
@mixin animation-fill-mode($value...) {
	-webkit-animation-fill-mode: $value;
	-ms-animation-fill-mode: $value;
	-moz-animation-fill-mode: $value;
	-o-animation-fill-mode: $value;
	animation-fill-mode: $value;
}
@mixin animation-timing-function($value...) {
	-webkit-animation-timing-function: $value;
	-ms-animation-timing-function: $value;
	-moz-animation-timing-function: $value;
	-o-animation-timing-function: $value;
	animation-timing-function: $value;
}
@mixin animation-delay($value...) {
	-webkit-animation-delay: $value;
	-ms-animation-delay: $value;
	-moz-animation-delay: $value;
	-o-animation-delay: $value;
	animation-delay: $value;
}
@mixin animation-iteration-count($value...) {
	-webkit-animation-iteration-count: $value;
	-ms-animation-iteration-count: $value;
	-moz-animation-iteration-count: $value;
	-o-animation-iteration-count: $value;
	animation-iteration-count: $value;
}
@mixin animation-direction($value...) {
	-webkit-animation-direction: $value;
	-ms-animation-direction: $value;
	-moz-animation-direction: $value;
	-o-animation-direction: $value;
	animation-direction: $value;
}
@mixin animation-play-state($value...) {
	-webkit-animation-play-state: $value;
	-ms-animation-play-state: $value;
	-moz-animation-play-state: $value;
	-o-animation-play-state: $value;
	animation-play-state: $value;
}
@mixin background-clip($value...) {
	-webkit-background-clip: $value;
	-ms-background-clip: $value;
	-moz-background-clip: $value;
	-o-background-clip: $value;
	background-clip: $value;
}
@mixin background-origin($value...) {
	-webkit-background-origin: $value;
	-ms-background-origin: $value;
	-moz-background-origin: $value;
	-o-background-origin: $value;
	background-origin: $value;
}
@mixin background-size($value...) {
	-webkit-background-size: $value;
	-ms-background-size: $value;
	-moz-background-size: $value;
	-o-background-size: $value;
	background-size: $value;
}
@mixin border-radius($value...) {
	-webkit-border-radius: $value;
	-ms-border-radius: $value;
	-moz-border-radius: $value;
	-o-border-radius: $value;
	border-radius: $value;
}
@mixin border-top-left-radius($value...) {
	-webkit-border-top-left-radius: $value;
	-ms-border-top-left-radius: $value;
	-moz-border-top-left-radius: $value;
	-o-border-top-left-radius: $value;
	border-top-left-radius: $value;
}
@mixin border-top-right-radius($value...) {
	-webkit-border-top-right-radius: $value;
	-ms-border-top-right-radius: $value;
	-moz-border-top-right-radius: $value;
	-o-border-top-right-radius: $value;
	border-top-right-radius: $value;
}
@mixin border-bottom-left-radius($value...) {
	-webkit-border-bottom-left-radius: $value;
	-ms-border-bottom-left-radius: $value;
	-moz-border-bottom-left-radius: $value;
	-o-border-bottom-left-radius: $value;
	border-bottom-left-radius: $value;
}
@mixin border-bottom-right-radius($value...) {
	-webkit-border-bottom-right-radius: $value;
	-ms-border-bottom-right-radius: $value;
	-moz-border-bottom-right-radius: $value;
	-o-border-bottom-right-radius: $value;
	border-bottom-right-radius: $value;
}
@mixin border-image($value...) {
	-webkit-border-image: $value;
	-ms-border-image: $value;
	-moz-border-image: $value;
	-o-border-image: $value;
	border-image: $value;
}
@mixin border-image-outset($value...) {
	-webkit-border-image-outset: $value;
	-ms-border-image-outset: $value;
	-moz-border-image-outset: $value;
	-o-border-image-outset: $value;
	border-image-outset: $value;
}
@mixin border-image-repeat($value...) {
	-webkit-border-image-repeat: $value;
	-ms-border-image-repeat: $value;
	-moz-border-image-repeat: $value;
	-o-border-image-repeat: $value;
	border-image-repeat: $value;
}
@mixin border-image-slice($value...) {
	-webkit-border-image-slice: $value;
	-ms-border-image-slice: $value;
	-moz-border-image-slice: $value;
	-o-border-image-slice: $value;
	border-image-slice: $value;
}
@mixin border-image-source($value...) {
	-webkit-border-image-source: $value;
	-ms-border-image-source: $value;
	-moz-border-image-source: $value;
	-o-border-image-source: $value;
	border-image-source: $value;
}
@mixin border-image-width($value...) {
	-webkit-border-image-width: $value;
	-ms-border-image-width: $value;
	-moz-border-image-width: $value;
	-o-border-image-width: $value;
	border-image-width: $value;
}
@mixin box-align($value...) {
	-webkit-box-align: $value;
	-ms-box-align: $value;
	-moz-box-align: $value;
	-o-box-align: $value;
	box-align: $value;
}
@mixin box-direction($value...) {
	-webkit-box-direction: $value;
	-ms-box-direction: $value;
	-moz-box-direction: $value;
	-o-box-direction: $value;
	box-direction: $value;
}
@mixin box-decoration-break($value...) {
	-webkit-box-decoration-break: $value;
	-ms-box-decoration-break: $value;
	-moz-box-decoration-break: $value;
	-o-box-decoration-break: $value;
	box-decoration-break: $value;
}
@mixin box-flex($value...) {
	-webkit-box-flex: $value;
	-ms-box-flex: $value;
	-moz-box-flex: $value;
	-o-box-flex: $value;
	box-flex: $value;
}
@mixin box-flex-group($value...) {
	-webkit-box-flex-group: $value;
	-ms-box-flex-group: $value;
	-moz-box-flex-group: $value;
	-o-box-flex-group: $value;
	box-flex-group: $value;
}
@mixin box-lines($value...) {
	-webkit-box-lines: $value;
	-ms-box-lines: $value;
	-moz-box-lines: $value;
	-o-box-lines: $value;
	box-lines: $value;
}
@mixin box-ordinal-group($value...) {
	-webkit-box-ordinal-group: $value;
	-ms-box-ordinal-group: $value;
	-moz-box-ordinal-group: $value;
	-o-box-ordinal-group: $value;
	box-ordinal-group: $value;
}
@mixin box-orient($value...) {
	-webkit-box-orient: $value;
	-ms-box-orient: $value;
	-moz-box-orient: $value;
	-o-box-orient: $value;
	box-orient: $value;
}
@mixin box-pack($value...) {
	-webkit-box-pack: $value;
	-ms-box-pack: $value;
	-moz-box-pack: $value;
	-o-box-pack: $value;
	box-pack: $value;
}
@mixin box-sizing($value...) {
	-webkit-box-sizing: $value;
	-ms-box-sizing: $value;
	-moz-box-sizing: $value;
	-o-box-sizing: $value;
	box-sizing: $value;
}
@mixin box-shadow($value...) {
	-webkit-box-shadow: $value;
	-ms-box-shadow: $value;
	-moz-box-shadow: $value;
	-o-box-shadow: $value;
	box-shadow: $value;
}
@mixin break-after($value...) {
	-webkit-break-after: $value;
	-ms-break-after: $value;
	-moz-break-after: $value;
	-o-break-after: $value;
	break-after: $value;
}
@mixin break-before($value...) {
	-webkit-break-before: $value;
	-ms-break-before: $value;
	-moz-break-before: $value;
	-o-break-before: $value;
	break-before: $value;
}
@mixin break-inside($value...) {
	-webkit-break-inside: $value;
	-ms-break-inside: $value;
	-moz-break-inside: $value;
	-o-break-inside: $value;
	break-inside: $value;
}
@mixin columns($value...) {
	-webkit-columns: $value;
	-ms-columns: $value;
	-moz-columns: $value;
	-o-columns: $value;
	columns: $value;
}
@mixin column-count($value...) {
	-webkit-column-count: $value;
	-ms-column-count: $value;
	-moz-column-count: $value;
	-o-column-count: $value;
	column-count: $value;
}
@mixin column-fill($value...) {
	-webkit-column-fill: $value;
	-ms-column-fill: $value;
	-moz-column-fill: $value;
	-o-column-fill: $value;
	column-fill: $value;
}
@mixin column-gap($value...) {
	-webkit-column-gap: $value;
	-ms-column-gap: $value;
	-moz-column-gap: $value;
	-o-column-gap: $value;
	column-gap: $value;
}
@mixin column-rule($value...) {
	-webkit-column-rule: $value;
	-ms-column-rule: $value;
	-moz-column-rule: $value;
	-o-column-rule: $value;
	column-rule: $value;
}
@mixin column-rule-color($value...) {
	-webkit-column-rule-color: $value;
	-ms-column-rule-color: $value;
	-moz-column-rule-color: $value;
	-o-column-rule-color: $value;
	column-rule-color: $value;
}
@mixin column-rule-style($value...) {
	-webkit-column-rule-style: $value;
	-ms-column-rule-style: $value;
	-moz-column-rule-style: $value;
	-o-column-rule-style: $value;
	column-rule-style: $value;
}
@mixin column-rule-width($value...) {
	-webkit-column-rule-width: $value;
	-ms-column-rule-width: $value;
	-moz-column-rule-width: $value;
	-o-column-rule-width: $value;
	column-rule-width: $value;
}
@mixin column-span($value...) {
	-webkit-column-span: $value;
	-ms-column-span: $value;
	-moz-column-span: $value;
	-o-column-span: $value;
	column-span: $value;
}
@mixin column-width($value...) {
	-webkit-column-width: $value;
	-ms-column-width: $value;
	-moz-column-width: $value;
	-o-column-width: $value;
	column-width: $value;
}
@mixin marquee-direction($value...) {
	-webkit-marquee-direction: $value;
	-ms-marquee-direction: $value;
	-moz-marquee-direction: $value;
	-o-marquee-direction: $value;
	marquee-direction: $value;
}
@mixin marquee-play-count($value...) {
	-webkit-marquee-play-count: $value;
	-ms-marquee-play-count: $value;
	-moz-marquee-play-count: $value;
	-o-marquee-play-count: $value;
	marquee-play-count: $value;
}
@mixin marquee-speed($value...) {
	-webkit-marquee-speed: $value;
	-ms-marquee-speed: $value;
	-moz-marquee-speed: $value;
	-o-marquee-speed: $value;
	marquee-speed: $value;
}
@mixin marquee-style($value...) {
	-webkit-marquee-style: $value;
	-ms-marquee-style: $value;
	-moz-marquee-style: $value;
	-o-marquee-style: $value;
	marquee-style: $value;
}
@mixin nav-index($value...) {
	-webkit-nav-index: $value;
	-ms-nav-index: $value;
	-moz-nav-index: $value;
	-o-nav-index: $value;
	nav-index: $value;
}
@mixin nav-left($value...) {
	-webkit-nav-left: $value;
	-ms-nav-left: $value;
	-moz-nav-left: $value;
	-o-nav-left: $value;
	nav-left: $value;
}
@mixin nav-right($value...) {
	-webkit-nav-right: $value;
	-ms-nav-right: $value;
	-moz-nav-right: $value;
	-o-nav-right: $value;
	nav-right: $value;
}
@mixin nav-up($value...) {
	-webkit-nav-up: $value;
	-ms-nav-up: $value;
	-moz-nav-up: $value;
	-o-nav-up: $value;
	nav-up: $value;
}
@mixin opacity($value...) {
	-webkit-opacity: $value;
	-ms-opacity: $value;
	-moz-opacity: $value;
	-o-opacity: $value;
	opacity: $value;
}
@mixin perspective($value...) {
	-webkit-perspective: $value;
	-ms-perspective: $value;
	-moz-perspective: $value;
	-o-perspective: $value;
	perspective: $value;
}
@mixin perspective-origin($value...) {
	-webkit-perspective-origin: $value;
	-ms-perspective-origin: $value;
	-moz-perspective-origin: $value;
	-o-perspective-origin: $value;
	perspective-origin: $value;
}
@mixin rotation($value...) {
	-webkit-rotation: $value;
	-ms-rotation: $value;
	-moz-rotation: $value;
	-o-rotation: $value;
	rotation: $value;
}
@mixin rotation-point($value...) {
	-webkit-rotation-point: $value;
	-ms-rotation-point: $value;
	-moz-rotation-point: $value;
	-o-rotation-point: $value;
	rotation-point: $value;
}
@mixin text-shadow($value...) {
	-webkit-text-shadow: $value;
	-ms-text-shadow: $value;
	-moz-text-shadow: $value;
	-o-text-shadow: $value;
	text-shadow: $value;
}
@mixin text-wrap($value...) {
	-webkit-text-wrap: $value;
	-ms-text-wrap: $value;
	-moz-text-wrap: $value;
	-o-text-wrap: $value;
	text-wrap: $value;
}
@mixin transform($value...) {
	-webkit-transform: $value;
	-ms-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	transform: $value;
}
@mixin transform-origin($value...) {
	-webkit-transform-origin: $value;
	-ms-transform-origin: $value;
	-moz-transform-origin: $value;
	-o-transform-origin: $value;
	transform-origin: $value;
}
@mixin transform-style($value...) {
	-webkit-transform-style: $value;
	-ms-transform-style: $value;
	-moz-transform-style: $value;
	-o-transform-style: $value;
	transform-style: $value;
}
@mixin transition($value...) {
	-webkit-transition: $value;
	-ms-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}
@mixin transition-property($value...) {
	-webkit-transition-property: $value;
	-ms-transition-property: $value;
	-moz-transition-property: $value;
	-o-transition-property: $value;
	transition-property: $value;
}
@mixin transition-duration($value...) {
	-webkit-transition-duration: $value;
	-ms-transition-duration: $value;
	-moz-transition-duration: $value;
	-o-transition-duration: $value;
	transition-duration: $value;
}
@mixin transition-timing-function($value...) {
	-webkit-transition-timing-function: $value;
	-ms-transition-timing-function: $value;
	-moz-transition-timing-function: $value;
	-o-transition-timing-function: $value;
	transition-timing-function: $value;
}
@mixin transition-delay($value...) {
	-webkit-transition-delay: $value;
	-ms-transition-delay: $value;
	-moz-transition-delay: $value;
	-o-transition-delay: $value;
	transition-delay: $value;
}
@mixin appearance($value...) {
	-webkit-appearance: $value;
	-ms-appearance: $value;
	-moz-appearance: $value;
	-o-appearance: $value;
	appearance: $value;
}
@mixin backface-visibility($value...) {
	-webkit-backface-visibility: $value;
	-ms-backface-visibility: $value;
	-moz-backface-visibility: $value;
	-o-backface-visibility: $value;
	backface-visibility: $value;
}
@mixin grid-columns($value...) {
	-webkit-grid-columns: $value;
	-ms-grid-columns: $value;
	-moz-grid-columns: $value;
	-o-grid-columns: $value;
	grid-columns: $value;
}
@mixin grid-rows($value...) {
	-webkit-grid-rows: $value;
	-ms-grid-rows: $value;
	-moz-grid-rows: $value;
	-o-grid-rows: $value;
	grid-rows: $value;
}
@mixin hanging-punctuation($value...) {
	-webkit-hanging-punctuation: $value;
	-ms-hanging-punctuation: $value;
	-moz-hanging-punctuation: $value;
	-o-hanging-punctuation: $value;
	hanging-punctuation: $value;
}
@mixin icon($value...) {
	-webkit-icon: $value;
	-ms-icon: $value;
	-moz-icon: $value;
	-o-icon: $value;
	icon: $value;
}
@mixin punctuation-trim($value...) {
	-webkit-punctuation-trim: $value;
	-ms-punctuation-trim: $value;
	-moz-punctuation-trim: $value;
	-o-punctuation-trim: $value;
	punctuation-trim: $value;
}
@mixin resize($value...) {
	-webkit-resize: $value;
	-ms-resize: $value;
	-moz-resize: $value;
	-o-resize: $value;
	resize: $value;
}
@mixin target($value...) {
	-webkit-target: $value;
	-ms-target: $value;
	-moz-target: $value;
	-o-target: $value;
	target: $value;
}
@mixin target-name($value...) {
	-webkit-target-name: $value;
	-ms-target-name: $value;
	-moz-target-name: $value;
	-o-target-name: $value;
	target-name: $value;
}
@mixin target-new($value...) {
	-webkit-target-new: $value;
	-ms-target-new: $value;
	-moz-target-new: $value;
	-o-target-new: $value;
	target-new: $value;
}
@mixin target-position($value...) {
	-webkit-target-position: $value;
	-ms-target-position: $value;
	-moz-target-position: $value;
	-o-target-position: $value;
	target-position: $value;
}
@mixin word-break($value...) {
	-webkit-word-break: $value;
	-ms-word-break: $value;
	-moz-word-break: $value;
	-o-word-break: $value;
	word-break: $value;
}
@mixin word-wrap($value...) {
	-webkit-word-wrap: $value;
	-ms-word-wrap: $value;
	-moz-word-wrap: $value;
	-o-word-wrap: $value;
	word-wrap: $value;
}
@mixin filter($value...) {
	-webkit-filter: $value;
	-ms-filter: $value;
	-moz-filter: $value;
	-o-filter: $value;
	filter: $value;
}
@mixin user-select($value...) {
	-webkit-user-select: $value;
	-ms-user-select: $value;
	-moz-user-select: $value;
	-o-user-select: $value;
	user-select: $value;
}
@mixin text-size-adjust($value...) {
	-webkit-text-size-adjust: $value;
	-ms-text-size-adjust: $value;
	-moz-text-size-adjust: $value;
	-o-text-size-adjust: $value;
	text-size-adjust: $value;
}

@mixin keyframes($name) {
	@keyframes $name {
		@content;
	}
	@-webkit-keyframes $name {
		@content;
	}
}
