// Mobile devices media query.
@mixin mobile {
	@media
		only screen and
        (max-width: 509px) and (min-device-width: 1024px),
        (max-device-width: 480px) and (orientation: portrait),
        (max-device-width: 480px) and (orientation: landscape) {
			@content;
		}
}
// Mobile portrait.
@mixin mobile-portrait {
	@media
		only screen and
        (max-width: 509px) and (min-device-width: 1024px),
        (max-device-width: 480px) and (orientation: portrait) {
			@content;
		}
}

// Mobile Landscape
@mixin mobile-landscape {
    @media
		only screen and
        (max-width: 509px) and (min-device-width: 1024px),
        (max-device-width: 480px) and (orientation: landscape) {
			@content;
	    }
}

// Tablet device media query.
@mixin tablet {
    @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px) {
            @content;
        }
}

// Landscape Tablet.
@mixin tablet-landscape {
    @media
        only screen and (max-width: 989px) and (min-device-width: 1024px),
        screen and (max-device-width: 480px),
        (max-device-width: 480px) and (orientation: landscape) {
            @content;
        }
}

// Portrait Tablet.
@mixin tablet-portrait {
    @media
        only screen
        and (max-device-width: 1024px)
        and (min-device-width: 481px)
        and (orientation: portrait) {
            @content;    
        }
}

// Desktop device media query.
@mixin desktop {
	@media only screen and (min-width: 1000px) {
		@content;
	}
}

// Large desktop screen.
@mixin large-desktop {
    @media only screen and (min-width: 1824px) {
        @content;
    }
}

// HiDPI device media query.
@mixin hidpi($ratio: 1.3) {
	@media only screen and (-webkit-min-device-pixel-ratio: $ratio),
	only screen and (min--moz-device-pixel-ratio: $ratio),
	only screen and (-o-min-device-pixel-ratio: #{$ratio}/1),
	only screen and (min-resolution: #{round($ratio*96)}dppx),
	only screen and (min-resolution: #{$ratio}dppx) {
		@content;
	}
}

// VENDOR SPECIFIC MEDIA QUERIES

// Blackberry Torch.
@mixin bb-torch {
    @media screen and (max-device-width: 480px) { 
        @content;
    }
}

// Apple iPhone Landscape.
@mixin iphone-landscape {
    @media screen and (max-device-width: 480px) { 
        @content;
    }
}
// Apple iPhone Portrait.
@mixin iphone-portrait {
    @media screen and (max-device-width: 320px) { 
        @content;
    }
}
// Apple iPhone 3G.
@mixin iphone-3g {
    @media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1){
        @content;
    }
}
// Apple iPhone 4.
@mixin iphone-4 {
    @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { 
        @content;
    }
}

