// TRIANGLE GENERATOR.
// @include triangle(SIZE COLOR DIRECTION ROTATION);

// Direction: up | down | left | right.
// Rotation is optional. Format: 90deg, -45deg.

// Example:
// @include triangle(20px blue down);
@mixin triangle($opt: 10px #000 down 360deg) {
	// Create class only if required arguments has given.
	@if length($opt) > 1 {
		// Default options.
		$direction		: down;
		$rotate			: 360deg;
		$size			: nth($opt, 1);
		$color			: nth($opt, 2);
		
		// Changing options.
		@if length($opt) == 3 {
			$direction	: nth($opt, 3);
		} @else if length($opt) == 4 {
			$direction	: nth($opt, 3);
			$rotate		: nth($opt, 4);
		}
		
		display			: inline-block;
		border			: $size solid $color;
		height			: 0;
		width			: 0;
		
		@if ($direction == down) {
			border-bottom-color	: transparent;
			border-right-color	: transparent;
			border-left-color	: transparent;
		} @else if ($direction == up) {
			border-right-color	: transparent;
			border-left-color	: transparent;
			border-top-color	: transparent;
		} @else if ($direction == left) {
			border-bottom-color	: transparent;
			border-right-color	: transparent;
			border-top-color	: transparent;
		} @else if ($direction == up) {
			border-bottom-color	: transparent;
			border-left-color	: transparent;
			border-top-color	: transparent;
		}
		
		@include transform(rotate($rotate));
	}
}

// CIRCLE GENERATOR.
// @include circle(SIZE COLOR);

// Example:
// @include circle(24px red);
@mixin circle($opt: 10px #333) {
	@if length($opt) == 2 {
		width				: nth($opt, 1);
		height				: nth($opt, 1);
		background-color	: nth($opt, 2);

		@include border-radius(50%);
	}
}

// OVAL GENERATOR.
// @include oval(WIDTH HEIGHT COLOR ROTATION);

// Rotation is optional. Format: 90deg, -45deg.

// Example:
// @include oval(200px 100px red);
// @include oval(200px 100px red 45deg);
@mixin oval($opt: 20px 10px #333 360deg) {
	@if length($opt) >= 3 {
		width				: nth($opt, 1);
		height				: nth($opt, 2);
		background-color	: nth($opt, 3);

		@include border-radius(50% / 50%);

		@if length($opt) == 4 {
			@include transform(rotate(nth($opt, 4)));
		}
	}
}

@mixin trapezium($opt: 20px #333 up 5px) {
	@if length($opt) >= 2 {
		$h: nth($opt, 1) / 2;
		$w: ($h / 2);
		$c: nth($opt, 2);
		$o: ($w / 2);
		$d: up;

		@if (length($opt) >= 3) {
			$d: nth($opt, 3);
		}
		@if (length($opt) == 4) {
			$o: nth($opt, 4);
		}

		@if ($d == up) {
			width 	: $h;
			height 	: 0;

			border-bottom 	: $w solid $c;
			border-left 	: $o solid transparent;
			border-right 	: $o solid transparent;
		} @else if ($d == down) {
			width 	: $h;
			height 	: 0;

			border-top 		: $w solid $c;
			border-left 	: $o solid transparent;
			border-right 	: $o solid transparent;
		} @else if ($d == left) {
			width 	: 0;
			height 	: $h;

			border-right	: $w solid $c;
			border-top 		: $o solid transparent;
			border-bottom	: $o solid transparent;
		} @else if ($d == right) {
			width 	: 0;
			height 	: $h;

			border-left		: $w solid $c;
			border-top 		: $o solid transparent;
			border-bottom	: $o solid transparent;
		}
	}
}

