@mixin plain-button($opt: 10px 10x 0.9em #333 'Roboto Light') {
	display: inline-block;
	padding: 10px;
	margin: 10px;
}
@mixin jin-plain-button($opt: 10px 10x 0.9em #333 'Roboto Light') {
	.plain-button {
		@include plain-button($opt);
		@content;
	}
}