// Divider class and mixin.
// @include divider(DISPLAY WIDTH HEIGHT H-ALIGN V-ALIGN);
@mixin frame($opt: block 100% auto left top) {
	@if length($opt) >= 1 {
		$display 	: nth($opt, 1);
		$width 		: 100%;
		$height 	: auto;
		$align 		: left;
		$valign 	: top;

		@if length($opt) >=2 {
			$width 	: nth($opt, 2);
		}
		@if length($opt) >= 3 {
			$height : nth($opt, 3);
		}

		display			: $display;
		width 			: $width;
		height 			: $height;

		@if length($opt) >= 4 {
			$align 	: nth($opt, 4);
			text-align: $align;
		}
		@if length($opt) == 5 {
			$valign : nth($opt, 5);
			vertical-align: $valign;
		}
	}
}
@mixin jin-frame($opt: block 100% auto left top) {
	.frame {
		@include frame($opt);
		@content;
	}
}

// Container class and mixin.
@mixin container($opt: 960px) {
	display: block;
	width: 100%;
	max-width: $opt;
	margin: 0 auto;
}
@mixin jin-container($opt: 960px) {
	.container {
		@include container($opt);
		@content;
	}
}