// Creating grid mixin.
@mixin fluid-grid($opt: 960 12 20) {
    // Configuring grids.
    $base-width     : nth($opt, 1);
    $column         : 12;
    $gutter         : 20;

    @if (length($opt) == 2) {
        $column     : nth($opt, 2);
    } @else if (length($opt) == 3) {
        $column     : nth($opt, 2);
        $gutter     : nth($opt, 3);
    }
    
    $gut-size       : (($gutter / $base-width) * 100%);
    $col-size       : (($base-width / $column) / $base-width) * 100%;
    
    // Base grid.
    .fluid-grid {
        width: (100% + $gut-size);
        margin-left: -($gut-size);
        *zoom: 1;

        &:before, &:after {
            content: ""; display: table;
        }
        &:after {
            clear: both;
        }
    }
    .container {
        width: 100%;
        max-width: ($base-width * 1px) !important;
        padding: 0 ($gutter * 1px);
        margin: 0 auto;

        &.grid {
            padding: 0;
        }
    }
    
    // Building Grids.
    @for $i from 1 through $column {
        // Fluid grid with gutter.
        $fix-size: ($col-size * $i) - (($gut-size / 2) * ($i - 1));

        .fluid-grid .grid-#{$i}d {
            float           : left;
            width           : $fix-size;
            margin-left     : $gut-size;
        }
        
        // Fluid grid without gutter.
        .fluid-grid .grid-#{$i}c {
            float           : left;
            width           : ($col-size * $i);
            margin          : 0;
        }
        
        // Fluid grid with full gutter.
        .fluid-grid .grid-#{$i}b {
            float           : left;
            width           : $fix-size;
            margin-left     : $gut-size;
            margin-bottom   : ($gutter * 1px);
        }
        
        // Fluid grid prefixer.
        .fluid-grid .prefix-#{$i} {
            padding-left    : $fix-size + $gut-size;
        }
        
        // Fluid grid suffixer.
        .fluid-grid .suffix-#{$i} {
            padding-right   : $fix-size + $gut-size;
        }
        
        // Grid push.
        .fluid-grid .push-#{$i} {
            position        : absolute;
            left            : $fix-size + $gut-size;
        }

        // Grid push.
        .fluid-grid .push-#{$i} {
            position        : absolute;
            right           : $fix-size + $gut-size;
        }
    }
}
