// @group Non-Semantic Stylesheets
@mixin non-semantic {
    .ir {
        background-repeat	: no-repeat;
        background-color	: transparent;
        text-indent			: -999em;
        text-align			: left;
        direction			: ltr;
        overflow			: hidden;
        display				: block;
        border				: 0;
        
        br {
            display			: none;
        }
    }
    .hidden {
        visibility	: hidden;
        display		: none !important;
    }
    .visualyhidden {
        position	: absolute;
        overflow	: hidden;
        padding		: 0;
        height		: 1px;
        margin		: -1px;
        border		: 0;
        width		: 1px;
        clip		: rect(0 0 0 0);
    }
    .visualyhidden.focusable {
        &:focus, &:active {
            position	: static;
            overflow	: visible;
            height		: auto;
            margin		: 0;
            width		: auto;
            clip		: auto;
        }
    }
    
	// Reseter classes.
	.clearfix {
	    *zoom: 1;
	    
	    &:after, &:before { content: ""; display: table; }
	    &:after { clear: both; }
	}
	
	
    .opaque 			{ opacity: 1 !important; }
    .semi-transparent 	{ opacity: 0.5 !important; }
    .transparent 		{ opacity: 0 !important; }
    
    .invisible 			{ visibility: hidden; }
    .clean 				{ width: 0; height: 0; }
    .clean-height 		{ height: 0; }
    .clean-width 		{ width: 0; }
    .clear 				{ clear: both; }
    
	.no-style 			{ @include appearance(none); text-decoration: none !important; list-style: none !important; outline: 0 !important; }
    .no-wrap 			{ white-space: nowrap; }
    .no-scroll 			{ overflow: hidden; }
	.pointer 			{ cursor: pointer; }
    
    // Display Classes
    .column 			{ display: table-column; }
    .table 				{ display: table; }
    .cell 				{ display: table-cell; }
    .row 				{ display: table-row; }
    .flat 				{ @include box-sizing(border-box); }
    .block 				{ display: block; }
    .inline-block 		{ @include inline-block; }
    
    // Dimension
    .fill-width 		{ @include box-sizing(border-box); width: 100%; }
    .fill-height 		{ @include box-sizing(border-box); height: 100%; }
    .fill-line 			{ line-height: 100%; }
    .auto-width 		{ @include box-sizing(border-box); width: auto; }
    .auto-height 		{ height: auto; @include box-sizing(border-box); }
    .stretch 			{ @include box-sizing(border-box); width: 100%; height: 100%; }
    
    // Positioning
    .relative 			{ position: relative; }
    .absolute 			{ position: absolute; }
    .fixed 				{ position: fixed; }
    
    // Align
    .to-all 			{ top: 0; left: 0; }
    .to-all-super 		{ top: -100%; left: 0; }
    .left 				{ text-align: left; }
    .to-left 			{ float: left; }
    .right 				{ text-align: right; }
    .to-right 			{ float: right; }
    .center 			{ text-align: center; }
    
    .top 				{ vertical-align: top; }
    .to-top 			{ position: absolute; top: 0; }
    .bottom 			{ vertical-align: bottom; }
    .to-bottom 			{ position: absolute; bottom: 0; }
    .middle 			{ vertical-align: middle; }
    .baseline 			{ vertical-align: baseline; }
    
    .front 				{ z-index: 999999999; }
    .back 				{ z-index: -1; }
    
    // Typography
    .clean-line 		{ line-height: 0; }
    .normal-line 		{ line-height: normal; }    
    
    // @end
    
}

// @end

@mixin font-sizes($size: 8 30 repeat, $unit: px) {
 
	// NON-SEMANTIC FONT SIZE CLASS GENERATOR.
	// @include font-sizes(SIZES, UNIT);
	
	// You can create class with prefix .font- and then the size of font become name suffix. You can also set the unit.
	// Class name sample: `.font-10` indicating `font-size: 10px;` or `.font-20 indicating font-size: 20px;`
	
	// Example:
	// @include font-sizes(10 20 30 40 50 60 70, pt);
	
	// That sample creating font-size class with custom size.
	
	// @include font-sizes(10 100 repeat, px);
	 
	@if length($size) == 3 {
		@if nth($size, 3) == repeat {
			$start	: nth($size, 1);
			$end	: nth($size, 2);
			
			@for $i from $start through $end {
				.font-#{$i} {
					font-size: #{$i}#{$unit};
				}
			}
		}
	} @else {
		@for $i from 1 through length($size) {
			$v: nth($size, $i);
			
			.font-#{$v} {
				font-size: #{$v}#{$unit};
			}
		}
	}
}

@mixin opacities($opt: 100 90 80 70 60 50 40 30 20 10) {
 
    // NON-SEMANTIC OPACITY CLASS GENERATOR.
    // @include opacities(OPACITY-LIST);
    
    // By default, opacity list is '100 90 80 70 60 50 40 30 20 10', converted to '1 0.9 0.8 0.7 0.6 0.5 0.4 0.3 0.2 0.1'.
    // You can input your custom opacity list but you have to use number instead of decimal.
    // This number used as class name, e.g `.opacity-100` will giving `opacity: 1;`.
    
    // Example:
    // @include opacities(100 50 20 60 30 70);
    
    // You also can using repeater. Example:
    // @include opacities(100 to 1);
    
    // That sample will generate a hundred class '.opacity-100' through '.opacity-1'.
    // It's mean create opacity from '1' to '0.01'.
	
    @if (length($opt == 3)) and (nth($opt, 2) == to) {
        @for $i from nth($opt, 1) through nth($opt, 3) {
            .opacity-#{$i} {
                opacity: $i/100;
            }
        }
    } @else {
        @for $i from 1 to length($opt) {
            $opc: nth($opt, $i);
            
            .opacity-#{$opc} {
                opacity: $opc/100;
            }
        }
    }
}

@mixin debug-block {
    * {
        @include box-shadow(0 0 1px red);
    }
}


