// @group Spacing Classes
@mixin spacing($space-size: 10 16 20 24 28 32 40 48 54 64 72) {
    // Creating space direction lists.
    $space-dirs: top, left, right, bottom;

    // Creating clean spaces.
    .mar-0 {
        margin: 0;
    }
    .mar-0 {
        padding: 0;
    }
    
    // Creating padding and margin for all sides.
    @for $i from 1 through length($space-size) {
        $siz: nth($space-size, $i);
        .pad-#{$siz} {
            padding: #{$siz}px;
        }
        .mar-#{$siz} {
            margin: #{$siz}px;
        }
    }
    
    // Creating padding and margin for multiple side.
    @for $i from 1 through length($space-size) {
        $siz: nth($space-size, $i);
        .pad-#{$siz}-tb {
            padding-top: #{$siz}px;
            padding-bottom: #{$siz}px;
        }
        .mar-#{$siz}-tb {
            margin-top: #{$siz}px;
            margin-bottom: #{$siz}px;
        }
        .pad-#{$siz}-lr {
            padding-left: #{$siz}px;
            padding-right: #{$siz}px;
        }
        .mar-#{$siz}-lr {
            margin-left: #{$siz}px;
            margin-right: #{$siz}px;
        }
    }
    
    // Creating padding and margin for each side.
    @for $i from 1 through length($space-size) {
        $siz: nth($space-size, $i);
        @for $x from 1 through length($space-dirs) {
            $dir: nth($space-dirs, $x);
            
            .pad-#{$siz}-#{$dir} {
                padding-#{$dir}: #{$siz}px;
            }
            .mar-#{$siz}-#{$dir} {
                margin-#{$dir}: #{$siz}px;
            }
        }
    }
}
// @end