// @group Core Library

//@import "scut";
@import "core/css3";
@import "core/func";
@import "core/media";
@import "core/core";
@import "core/shapes";

// @group Addon
@import "addon/kondom";
@import "addon/grids";
@import "addon/spacing";

// @end

// @group UI Kit Library
@import "kits/composser";
@import "kits/layout";
@import "kits/module";

// @end

// @group Vendor Imports
@import "vendor/normalize";

// @end

// Displaying body placeholder
@mixin body-placeholder {
	body, html {
		min-width: 100%; min-height: 100%;
	}

	.app-body {
		background-image: url(app-icon.png);
		background-size: 256px 256px;
		background-position: center center;
		background-repeat: no-repeat;

		display: block;
		width: 100%; height: 100%;
	}
}